<div class='card-body comment-div' id='commentDiv-{{id}}'>
  <p class='comment-body mt-3' id='commentBody-{{id}}'>{{comment_body}}</p>
  <p
    class='signature comment-details mt-3 mb-3'
    id='commentDetails-{{id}}'
  >Comment By: {{user.username}}</p>
  <p class='signature comment-details'><span class='dateTime'>{{format_date
        date_created
      }}
      at
      {{format_time createdAt}}</span></p>
</div>